@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>error</title>
    <link rel="shortcut icon" href="/public/img/favicon.ico" />
</head>
<body>
    sorry, an error occured
</body>
</html>